{% extends "base_code.html" %}
<style>
          .btn-grad {
                 background-image: linear-gradient(to right, #ab0303 0%, #190A05  51%, #a90303 100%)
            }


            .btn-grad {
                margin: 10px;
                padding: 7px 1px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                /* box-shadow: 0 0 20px #eee; */
                border-radius: 10px;
                display: block;
            }

            .btn-grad:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }
</style>

{% block content %}
    <h1>Comment page for {{ title }} </h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <input type="text" id="comment" name="comment" class="form-control form-control-lg col-md-10 col-lg-9"
                   placeholder="Enter Your Comments"/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" for="inputGroupSelect01">Rating</label>
            <select class="form-select" id="rating" name="rating">
                <option selected>Choose...</option>
                <option value="1">Very Bad</option>
                <option value="2">Bad</option>
                <option value="3">Average</option>
                <option value="4">Good</option>
                <option value="5">Excellent</option>
            </select>
        </div>
        <!--div class="input-group mb-1">
  <input type="file" class="form-control" id="image" name="image">
  </div-->
        <button type="submit" class="btn btn-grad" style="width:300px; margin-left: 0; margin-top: 20px">Submit</button>
    </form>
    <hr>
    <div class="container my-0 py-0">
        <div class="row d-flex justify-content-center">
            <h4>Latest Comments by Users</h4>
        </div>
    </div>
    {% for c in comments %}
        <div class="container my-1 py-1">
            <div class="row d-flex justify-content-left">
                <div class="col-md-10 col-lg-9">
                    <div class="card text-dark">
                        <div class="card-body p-4">
                            <hr class="my-0"/>
                            <div class="card-body p-4">
                                <div class="d-flex flex-start">
                                    <img
                                            class="rounded-circle shadow-1-strong me-3"
                                            src="/images/default.jpg"
                                            alt="avatar"
                                            width="60"
                                            height="60"
                                    />
                                    <div>
                                        <h6 class="fw-bold mb-1">{{ c.user }}</h6>
                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0">{{ c.created_at }}
                                                <span class="badge bg-primary"> Rating: {{ c.rating }}/5</span>
                                            </p>
                                        </div>
                                        <p class="mb-0">{{ c.comment }} </p>
                                        <!--img src="/images/{{ c.image }}"></img-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}